<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Tambah Jadwal</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: jquery" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<table align="center" cellpadding="10">

		<tr>
			<td>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h1>
										<center>Tambah Poli
									</h1>
								</div>
								<form th:action="@{/rawat-jalan/poli/tambah}" th:object="${poli}"
									method="POST">
									<table width=500 cellpadding="10" style="margin-left:20px">
										<br>
										<tr>
											<td>Nama</td>
											<td><input required type="text" name="nama" class="form-control" /></td>
										</tr>
										<tr>
											<td>Deskripsi</td>
											<td><input required type="text" name="deskripsi" class="form-control" /></td>
										</tr>
									</table>
									<br>
									<center>
										<button type="submit" class="btn btn-sm btn-success">Simpan</button>
										<br>
										<br>
								</form>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</body>

</html>

