<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Home</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	
	<body>
		<div class="container">
			<table class="table table-hover">
			  <thead class="thead-light">
			    <tr>
			      <th scope="col">ID Pasien</th>
			      <th scope="col">Nama</th>
			      <th scope="col">Poli</th>
			      <th scope="col">Waktu</th>
			      <th scope="col">Jenis Penanganan</th>
			      <th scope="col">Deskripsi</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">1</th>
			      <td>Mark</td>
			      <td>Otto</td>
			      <td>@mdo</td>
			      <td>Otto</td>
			      <td>@mdo</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-3 offset-md-6">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
					  Tambah Penanganan
					</button>
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Tambah Penanganan</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <form>
						      <div class="modal-body">
								  <div class="form-group">
								    <label for="input_id">ID Pasien</label>
								    <input type="text" class="form-control" id="input_id" placeholder="ID Pasien">
								  </div>
								  <div class="form-group">
								    <label for="input_waktu">Waktu</label>
								    <input type="time" class="form-control" id="input_waktu" placeholder="ID Pasien">
								  </div>
								  <div class="form-group">
								    <label for="input_obat">Obat</label>
								    <select class="form-control" id="input_obat">
								      <option>1</option>
								    </select>
								  </div>
								  <div class="form-group">
								    <label for="input_deskripsi">Deskripsi</label>
								    <textarea class="form-control" id="input_deskripsi" rows="3"></textarea>
								  </div>
						      </div>
							  <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
						        <button type="button" class="btn btn-primary">Tambah</button>
						      </div>
						  </form>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>