<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
  
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: jquery" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>

</head>
<style>
.col-md-4 {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-top: 10%;
        }
#title {
text-align: center;
margin-bottom:5%;
}


</style>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <div class="login-panel panel panel-default" style="margin: 5% 5% 5% 5%;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Register</h3>
                    </div>
                    <div class="panel-body">
							<form th:action="@{/user/addUser}" method="post">
                        <div th:if="${param.error}">
								<span style="color: red"></span>
							</div>
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="text" autofocus="" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="" required>
                                </div>
                                <div class="form-group">

								<label class="col-sd-4"> Role: </label> <select
									class="form-control" name="role">
									<option value="ROLE_ADMIN">Admin Poli</option>
									<option value ="ROLE_STAFF">Staff Rawat Jalan</option>

								</select>
							</div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-sm btn-warning">Register</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div th:if="${msg}" class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="padding: 5% 5% 5% 5%;">
<h4>Sukses Menambahkan User!</h4>
<div th:text="${msg.getUsername()}+' sebagai '+(${msg.getRole()} == 'ROLE_ADMIN' ? 'Administrasi Poliklinik' : 'Staff Rawat Jalan')"></div>
    </div>
  </div>
</div>

	<body>

<div class="col-md-4">
<div id="title">
<h3>Rumah Sakit Cepat Sembuh</h3>
<h4>Sistem Informasi Rawat Jalan</h4>
</div>

<div class="card">
  <div class="card-body">

<div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign In</h3>
                    </div>
                    <div class="panel-body">
							<form th:action="@{/login}" method="post">
                        <div th:if="${param.error}">
								<span style="color: red">Invalid Username or password.</span>
							</div>
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="text" autofocus="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-sm btn-success">Sign In</button>
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">
  Not Yet Registered?
</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
                  </div>
</div>

</div>
	</body>
	<script th:inline="javascript">
    /*<![CDATA[*/

      if([[${msg} != null ? true:false]]){
    	  $('#successModal').modal('show');
      }
    /*]]>*/

   </script>
</html>
