<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Detail Pasien</title>

<object th:include="fragments/fragment :: jquery" th:remove="tag"></object>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<object th:include="fragments/fragment :: css_datatable" th:remove="tag"></object>
<object th:include="fragments/fragment :: js_datatable" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container" style="margin-top: 10%;">
		<div id="dashboard" class="shadow p-3 mb-5 bg-white rounded-10">
		<h2 th:text="${rujukan.nama}"></h2>
			<p th:text="'Pasien Rawat Jalan'"></p>
			<a class="nav-link" th:href="@{'/rawat-jalan/pasien/penanganan?idPasienRawatJalan='}+${rujukan.idPasien}">Lihat/Ubah/Tambah Penanganan</a>
			<div id="content">
					<div class="row">
			<div class="col-6">
				ID Pasien:
			</div>
			<div class="col-6" th:text="${rujukan.idPasien}">
				
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				Poli:
			</div>
			<div class="col-6" th:text="${rujukan.jadwalPoli.poli.nama}">
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				Jadwal:
			</div>
			<div class="col-6" th:text="${jadwalFix}">
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				Tanggal Rujukan:
			</div>
			<div class="col-6" th:text="${tanggalFix}">
				
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				Status:
			</div>
			<div class="col-6" th:text="${status[rujukan.status]}">
			</div>
		</div></div>
		</div>
			
	</div>
</body>
</html>